.heading.program__files__heading
  @media $bp.desktop
    $font24-large()
    font-weight bold
    margin-top 32px
    margin-bottom 0

  @media $bp.phone
    $font18-large()
    font-weight bold
    margin-top 32px
    margin-bottom 0

.program__files__items
  display flex
  flex-wrap wrap
  $font16-medium()

  @media $bp.desktop
    margin-left -22px
