.search-dropdown-footer
  display flex
  // margin 0 34px
  margin-top 28px
  margin-bottom 33px
  justify-content space-between

  .search-dropdown-footer__results-count
    display flex
    flex-shrink 0
    align-items center
    // margin-left 33px
    color: #ffffff
  .search-dropdown-footer__view-all
    color: #ffffff
    display flex
    align-items center
    // margin-right 33px
    text-transform uppercase
    font-size: 14px
    border: none
    transition all 0.3s
    &:hover
      color: rgba(255,255,255,0.5);

    svg
      margin-left 6px

.search-dropdown-footer__no-results
  margin 5px 0