.showcase
  max-width 100%
  // background-image  linear-gradient(to bottom, #053f6a, #151515)

.showcase-title
  max-width $page-width-desktop
  box-sizing border-box
  margin 0 auto 24px

  text-align center
  font-size 44px
  font-weight 400
  padding-bottom: 2px;

  @media $bp.phone
    max-width $page-width-phone
    margin 0 auto 16px
    padding 0 10px
    font-size 24px
    text-align center
    font-weight normal

.showcase-title_subtitle
  font-size 36px

  @media $bp.phone
    font-size 20px

.showcase__content
  top 30
  max-width 100%
  // overflow-x hidden

.showcase__inner
  margin 0 auto
  width 100%
  max-width $page-width-desktop

  // @media $bp.desktop
  //   max-width $header-width-desktop
  //   margin-left auto
  //   margin-right auto

.showcase__footer
  position relative
