.program-page
  .page__content
    max-width 960px

  @media $bp.phone
    padding 0 10px

.heading.program__heading
  @media $bp.phone
    text-align center
    margin-top 16px
    margin-bottom 24px
