.showcase-collections
  margin-left auto
  margin-right auto

  @media $bp.desktop
    max-width $page-width-desktop
    margin 0 auto 50px
    .load-more__button
      margin 0 auto

  @media $bp.phone
    max-width $page-width-phone
    padding-bottom 20px
    margin-bottom 25px
