.stories__info__desktop-btns
  position absolute

  display flex
  justify-content center
  align-items flex-start

  width 100%
  height 100%
  left 0
  top 0

  @media (min-width: $page-width-desktop)
    left calc(50% - 480px)
    width $page-width-desktop

  @media $bp.phone
    display none

.stories__info__desktop-btns__prev
.stories__info__desktop-btns__next
  width 50%
  height 100%
  cursor pointer
  pointer-events auto

  display flex
  // align-items center

  opacity 0
  transition opacity .3s

  .SVGInline
    position absolute
    top calc(50% + 10px)

  &:hover
    opacity 1

  .stories__info-wrap.non-active &
  .stories__info-wrap.non-active &:hover
    opacity 0

.stories__info__desktop-btns__prev
  transform translateX(-100px)
  width calc(50% - 100px)
  justify-content flex-start

  .SVGInline
    transform rotateZ(180deg) translateX(-50px)

.stories__info__desktop-btns__next
  transform translateX(100px)
  width calc(50% - 100px)
  justify-content flex-end
  .SVGInline
    transform translateX(-50px)

.stories__info__desktop-btns__pause
  width 200px
  height 100%
  cursor pointer
  position relative
  pointer-events auto

  position absolute

  background-repeat no-repeat
  background-position center
  background-size 41px
  background-image url('~assets/icons/play-white.svg?external')

  @media (min-width: $page-width-desktop)
    background-position center calc(50% + 30px)

  // @media (min-width: $header-width-desktop)
  //   background-position center

  transition opacity .3s
  opacity 1

  .stories__content.playing &
    background-image url('~assets/icons/pause.svg?external')
    opacity 0
    &:hover
      opacity 0.5
