{% extends 'mailer/template_en.html' %}

{% block body %}
    <div class="orange-title orange-title-padding-bottom"
         style="padding-bottom: 4px; color: #f1951b; font-size: 18px; font-weight: bold; text-align: left;">
        Hi,
    </div>
    <div class="text"
         style="color: white !important; font-size: 24px; line-height: 28px; font-weight: normal; text-align: left;">
        {% with titles=services|join:', ' %}
            The import was successful and your {{ titles }} games are now in your AG profile.
            You can view your updated games library by <a style="color: #f1951b !important; text-decoration: none !important;" href="https://ag.ru/@{{ user_slug }}">following this link</a>.
        {% endwith %}
    </div>
    <div class="text text-margin-top"
         style="color: white !important; font-size: 24px; line-height: 28px; font-weight: normal; text-align: left; margin-top: 24px;">
        Team AG
    </div>
{% endblock %}
