.years-stats-chart-empty
  margin-bottom 48px
  padding-top 40px

  @media $bp.phone
    margin-bottom 32px
    padding-top 50px
    overflow-x auto

.years-stats-chart-empty__chart
  margin-bottom 16px
  display flex
  justify-content space-between
  align-items flex-end
  height 160px
  width 100%

  @media $bp.phone
    height 150px
    width 650px

.years-stats-chart-empty__bar
  position relative
  height 100%
  align-items flex-end

.years-stats-chart-empty__transparent
.years-stats-chart-empty__empty
  position absolute
  bottom 0
  pointer-events none

.years-stats-chart-empty__transparent
  opacity 0.1
