.tokens__reward-helper
  margin-left 48px
  display flex
  flex-direction column
  justify-content center
  flex 1 1 auto
  @media $bp.phone
    align-items center
    width 274px
    margin 0 22px
    margin-top 24px

.tokens__reward-helper-title
  width 241px
  margin 0
  padding 0
  line-height normal
  font-size 24px
  font-weight bold
  margin-bottom 8px

  @media $bp.phone
    font-size 18px
    text-align center

.tokens__reward-helper-text
  width 241px
  font-size 14px

  @media $bp.phone
    font-size 12px
    text-align center
