.reaction-icon
  width 32px
  height 32px
  background no-repeat center / contain

  &-clap
    background-image url("./clap@2x.png")
  &-fire
    background-image url("./fire@2x.png")
  &-trophy
    background-image url("./trophy@2x.png")
  &-joy
    background-image url("./joy@2x.png")
  &-star-struck
    background-image url("./star-struck@2x.png")
  &-blush
    background-image url("./blush@2x.png")
  &-sunglasses
    background-image url("./sunglasses@2x.png")
  &-smirk
    background-image url("./smirk@2x.png")
  &-thinking-face
    background-image url("./thinking-face@2x.png")
  &-grimacing
    background-image url("./grimacing@2x.png")
  &-flushed
    background-image url("./flushed@2x.png")
  &-face-with-raised-eyebrow
    background-image url("./face-with-raised-eyebrow@2x.png")
  &-scream
    background-image url("./scream@2x.png")
  &-sob
    background-image url("./sob@2x.png")
  &-skull-and-crossbones
    background-image url("./skull-and-crossbones@2x.png")
  &-ghost
    background-image url("./ghost@2x.png")
  &-ok-hand
    background-image url("./ok-hand@2x.png")
  &-muscle
    background-image url("./muscle@2x.png")
  &-beers
    background-image url("./beers@2x.png")
  &-popcorn
    background-image url("./popcorn@2x.png")
