.tokens__status-changer__container
  display flex
  justify-content center
  position fixed
  z-index 3
  left 10px
  bottom 10px

.tokens__status-changer
  margin 10px 0
  border 1px solid rgba(0,0,0,.6)
  border-radius 4px
  padding 10px
  background rgba(0,0,0,.6)
  display flex
  flex-direction column
  width 200px

  button
    margin-top 10px

  label.tokens__status-changer__dev-radiobutton
    display block
    font-size 12px
    margin-bottom 3px
    display flex
    align-items center
    input
      margin 0 5px 0 0
