.arrow
  display flex
  justify-content center
  align-items center

  font-size 0
  line-height 0

.arrow_small svg
  width 11px
  height 19px

.arrow_medium svg
  width 15px
  height 25px

.arrow_large svg
  width 19px
  height 35px

.arrow_left
  transform rotateZ(180deg)

.arrow_top
  transform rotateZ(270deg)

.arrow_bottom
  transform rotateZ(90deg)
