.game-edit__empty-item
  display flex
  align-items center
  margin-top 12px
  font-size 18px
  line-height 30px
  color alpha(white, 40%)

.game-edit__empty-item__emoji
  margin-right 12px
  font-size 30px
  color white

  img
    width 40px
    height 40px
