.rate-nav-info
  position fixed
  right 0
  bottom 0
  margin 16px
  margin-right 8px
  display flex

.rate-nav-info__button
  box-sizing border-box
  width 18px
  height 18px
  display flex
  justify-content center
  align-items center
  border-radius 4px
  border 1px solid $color-white
  opacity 0.6
  $font12-small()
  margin 3px

.rate-nav-info__text
  flex-basis 100%
  padding-left 2px
  $font12-small()
  padding-bottom 4px

.rate-nav-info__rate-wrap
  width 60px
  opacity 0.6
  .SVGInline-svg
    margin 3px
    margin-top 3px

.rate-nav-info__rate
  opacity 0.6

.rate-nav-info__nav
  color alpha($color-white, 0.4)

.rate-nav-info__buttons
  display flex
  flex-wrap wrap
