{% extends 'mailer/template_en.html' %}

{% block body %}
    <div class="orange-title orange-title-padding-bottom"
         style="padding-bottom: 4px; color: #f1951b; font-size: 18px; font-weight: bold; text-align: left;">
        Hi,
    </div>
    <div class="text"
         style="color: white !important; font-size: 24px; line-height: 28px; font-weight: normal; text-align: left;">
        Your AG account password has been changed.
        If you requested this change then you can ignore this email.
        If this wasn't you, your account may have been compromised. Please
        <a style="color: #f1951b !important; text-decoration: none !important;" href="https://ag.ru/password_recovery">follow these steps to reset your password</a>.
    </div>
    <div class="text text-margin-top"
         style="color: white !important; font-size: 24px; line-height: 28px; font-weight: normal; text-align: left; margin-top: 24px;">
        Team AG
    </div>
{% endblock %}
