{% extends 'stat/index.html' %}

{% load utils %}

{% block content %}
    <h1>Community revisions</h1>

    <form class="form-inline">
        <div class="form-group">
            <div class="input-daterange input-group" id="datepicker">
                <input type="text" class="input-sm form-control" name="start" value="{{ start_date|date:'d/m/Y' }}">
                <span class="input-group-addon">to</span>
                <input type="text" class="input-sm form-control" name="end" value="{{ end_date|date:'d/m/Y' }}">
            </div>
        </div>
        <div class="form-group">
            <label for="status">Group</label>
            <select id="status" class="form-control" name="group">
                <option value=""{% if not group %} selected{% endif %}>None</option>
                {% for g, v in groups %}
                    <option value="{{ g }}"{% if group == g %} selected{% endif %}>{{ v }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary">Show</button>
        <div class="form-group earliest-date">
            Earliest date: {{ min_date|date:'d/m/Y' }}
        </div>
    </form>

    <br><br>

    <canvas id="chart"></canvas>

    <br><br>

    <table class="table table-striped">
        <tr>
            <th>User</th>
            <th>Count</th>
        </tr>
        {% for label, point in points %}
            <tr>
                <td>{{ label }}</td>
                <td>{{ point }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block script %}
    <script>
        $(function() {
            $('.input-daterange').datepicker({
                format: 'dd/mm/yyyy',
                startDate: '{{ min_date|date:'d/m/Y' }}',
                endDate: '{{ max_date|date:'d/m/Y' }}',
                weekStart: 1
            });

            new Chart(document.getElementById('chart').getContext('2d'), {
                type: 'bar',
                data: {
                    labels: [{% for p, _ in points %}'{{ p }}'{% if not forloop.last %},{% endif %}{% endfor %}],
                    datasets: [
                        {
                            label: 'Count',
                            fill: false,
                            backgroundColor: 'rgb(54, 162, 235)',
                            borderColor: 'rgb(54, 162, 235)',
                            borderWidth: 3,
                            data: [{% for _, p in points %}{{ p }}{% if not forloop.last %},{% endif %}{% endfor %}]
                        }
                    ]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: true
                }
            });
        });
    </script>
{% endblock %}
