.round-progressbar__circle-background,
.round-progressbar__circle-progress
  fill none

.round-progressbar__circle-background
  stroke #7f7f7f

.round-progressbar__circle-progress
  stroke-linecap round
  stroke-linejoin round
