.game-subpage__cheats-type
  @media $bp.phone
    padding 0 10px

.heading.game-subpage__cheats-type__title
  $font24-large()
  font-weight bold
  margin-bottom 0
  margin-top 32px

.game-subpage__cheats-type__items
  display flex
  flex-wrap wrap
  @media $bp.desktop
    margin-left -22px
