.review-card__source-info
  max-width 500px
  display flex
  align-items flex-start

.review-card__source-info__text
  font-size 12px
  opacity .4
  line-height 1.2
  margin-right 8px
  margin-bottom 5px
  text-align right

.review-card__source-info__logo svg
  width 26px
  height 26px
  transform translateY(2px)

  .theme_light &
    path
      fill #111
