.game-suggestions__game-card-medium
  padding 0 10px

  &:not(:first-child)
    margin-top 10px

.game-suggestions__items
  margin-top 16px

.game-suggestions__game-card-large:not(:first-child)
  margin-top 24px

.game-subpage__description
  $font16-medium()
  margin 8px 0

  @media $bp.phone
    padding 0 10px
