.service-ga__checkbox
  display flex
  align-items center
  padding 10px
  line-height 1

  opacity 0.5
  transition opacity .3s

  &.enabled
    opacity 1

  .toggle-button-wrapper
    opacity 1
    font-size 20px
