.game-card-medium-slider__slide
  margin-right $column-offset-1-1-1-1-desktop

  @media $bp.phone
    margin 0
    padding 0 8px

.game-card-medium-slider__game.game-card-medium
  width $column-width-1-1-1-desktop

  @media $bp.phone
    width 264px

.game-card-medium-slider__game-add
  display flex
  flex-direction column
  justify-content space-between
  padding 16px 24px 22px
  height 172px

  @media $bp.phone
    align-items flex-start
