.offer-price
  align-self center
  font-size 18px
  padding-right 25px
  background url("~app/pages/tokens/assets/coin.png") no-repeat right center / contain

  @media $bp.phone
    font-size 14px
    // line-height 0.86
    padding-right 13px

.offer-price_medium
  font-size 32px
  padding-right 42px
  background-size 29px

  @media $bp.phone
    font-size 18px
    background-size contain
    padding-right 24px
