
.profile-developer
  @media $bp.phone
    padding 0 8px

  &__title
    margin-bottom 16px

  &__save-button
    margin-top 16px

  &__refresh-button
    display block
    border-radius 4px
    white-space nowrap
    cursor pointer
    color black

    &:not(.not-hover):hover
      background-color alpha(black, 0.1)

    @media $bp.desktop
      padding 5px 10px

      &:hover
        color black

    @media $bp.phone
      text-align center

      & + &__refresh-button
        margin-top 10px

  &__policy
    margin-top 16px

  &__inputs
    @media $bp.desktop
      display flex

      .input:first-child
        margin-right 16px

  .input
    margin-bottom 16px

  .error_field
    margin-top 0
