.review-manager
  padding 16px

  .loading svg
    fill #9d9d9d

.review-manager__loading-wrapper
  display flex
  flex 0 1 auto
  align-items center
  justify-content center
  width 100%
  min-height 122px
  background-color rgba(#151515, 0.05)
  border-radius 6px

.review-manager__title
  display block
  margin-bottom 8px
  color #7f7f7f

.review-manager__link
  display block
  width 100%
  box-sizing border-box
  margin-top 8px
  padding 10px
  color black
  text-align center
  border 2px solid rgba(black, 0.1)
  border-radius 6px
  transition all 0.3s

  &:hover
    color black
    background-color #e5e5e5
    transition all 0.3s
