.collections
  .tabs
    margin-bottom 24px

  @media $bp.phone
    margin-bottom 40px

    .tabs
      margin-bottom 16px

      ul
        justify-content center

  .heading
    margin-top 0

    @media $bp.phone
      text-align center

.collections__items-list
  @media $bp.phone
    margin-top 16px

    .collection-card-new
      margin-left 0

.collections__wrapper
  .tabs .tabs__list .tabs__item:not(:last-child)
    margin-right 32px
