.game-edit__field
  width 100%

.game-edit__field-title
  font-size 16px
  color alpha(white, 40%)
  margin-bottom 12px
  display flex

.game-edit__field__important-flag
  color #E94A30
  cursor default
  margin-left .2em

.game-edit__field__important-lock-icon
  flex 1 1 auto
  display flex
  justify-content flex-end
