.confirm-title
  color $error-color
  white-space nowrap
  cursor pointer

.confirm-content__title
  margin-bottom 10px

  color $error-color
  white-space nowrap

.confirm-content__buttons
  display flex
