.review-card__game-background
  position absolute
  left 0
  top 0
  z-index 0

  width 100%
  height 100%
  border-radius 4px 4px 0 0
  background no-repeat center top
  background-size cover
  pointer-events none

  .theme_light &
    display none
