$storiesMobilePortraitWidth = 107vh
$storiesMobilePortraitHeight = 60vh
$storiesMobilePortraitMaxHeight = 700px

$storiesMobileLandscapeWidth = 100vw
$storiesMobileLandscapeHeight = calc(56vw - 30px)

$storiesMobileMarginTop = 0px

$storiesPhonePortrait = "(max-width: 979px) and (max-aspect-ratio: 10/9)"
$storiesPhoneLandscape = "(max-width: 979px) and (min-aspect-ratio: 10/9)"
