.game-edit
  .page__content
    @media $bp.desktop
      max-width 960px
      margin 0 auto

.game-edit__error-message
  margin-bottom 12px
  display flex
  align-items center

  .SVGInline
    margin-right 8px
    .SVGInline-svg
      display block
