.reviews-slider
  .slick-slide
    padding 0 10px
    @media $bp.phone
      padding 0 8px

.reviews-slider__slide
  width 264px

.review-card.review-card_slider
  width $column-width-1-1-desktop

.reviews-slider__slide-card
  height 348px

  @media $bp.phone
    height 336px
    margin-bottom 10px
    max-width 275px
