.rate-buttons-list__title
  $font12-small
  color alpha($color-white, 0.2)
  margin-bottom 8px

.rate-buttons-list__wrap
  height 194px
  width 225px
  border 1px solid alpha($color-white, 0.1)
  border-radius 6px
  display flex
  flex-wrap wrap

  .rate-buttons-list_dark &
    border 2px solid alpha(black, 0.1)
