.followed-counter
  margin-left 8px
  flex-shrink 0

.followed-counter__follow-button
  $font12-small()
  padding 5px 14px
  border 1px solid alpha($color-white, 0.4)
  border-radius 4px
  flex 0

.followed-counter__counter
  font-size 10px
  color alpha($color-white, 0.4)
  text-align center
  margin-top 2px