.discover-page
  .page__content-wrap
    @media $bp.phone
      padding 0 10px

  .page__content
    box-sizing border-box
    max-width 1920px

.discover-page__content
  @media $bp.phone
    width 100%
    padding-bottom 90px

.discover-page__content-header
  display flex
  flex 0 1 auto
  align-items flex-start
  margin-bottom 16px

  @media $bp.phone
    flex-direction column
    align-items center
    justify-content center

  .heading
    margin 0

.discover-page__content-header__right
  display flex
  margin-left auto

  @media $bp.desktop
    transform translateY(12px)

  @media $bp.phone
    margin-left 0
