.offer-confirm
  background-color alpha($color-white, 0.06)
  border-radius 6px
  padding 24px
  padding-bottom 36px
  margin 24px 0

  @media $bp.phone
    width 100%
    margin-top 16px
    margin-bottom 32px
    padding 24px

.offer-confirm__title
  font-size 24px
  margin 0
  @media $bp.phone
    font-size 18px

.offer-confirm__text
  font-size 14px
  line-height 1.29
  margin-top 8px

.offer-confirm__input-wrap
  display flex
  justify-content space-between
  flex-wrap wrap
  margin-top 16px
  margin-bottom 8px

.offer-confirm__label, 
.offer-confirm__cancel
  color alpha($color-white, 0.4)

.offer-confirm__cancel
  font-size 16px
  font-weight normal
  text-decoration underline
  height auto

.offer-confirm__button
  font-size 18px
  font-weight normal
  height 50px
  padding 0 32px
  margin 16px 0
  width 100%
  display flex
  justify-content center
  @media $bp.phone
    font-size 16px

.offer-confirm__price
  font-size 18px
  font-weight normal
  padding-right 20px
  margin-left 4px
  @media $bp.phone
    font-size 16px

.offer-confirm__balance-wrap
  display flex
  align-items baseline
  font-size 18px
  @media $bp.phone
    font-size 16px

.offer-confirm__balance
  margin-left 8px
  font-weight bold
  @media $bp.phone
    padding-right 17px

.offer-confirm__link
  font-size 14px
  font-weight normal
  color $color-white
  margin-left 8px

