.reviews
  .heading_1
    margin-top 0

  .tabs
    margin-bottom 24px

  .tabs .tabs__list .tabs__item:not(:last-child)
    margin-right 32px

  @media $bp.phone
    .tabs
      margin-bottom 16px

      ul
        justify-content center

.reviews__settings
  display flex
  flex-wrap wrap
  justify-content space-between
  margin-bottom 32px
