.all-rated
  max-width 850px
  margin 0 auto
  margin-top 40px
  $heading2()
  font-weight bold
  line-height 1.09
  text-align center
  @media $bp.phone
    padding 0 16px

  img
    width 104px
    height 104px
    display block
    margin 0 auto
    margin-top 40px
    margin-bottom 56px

.all-rated__share
  $font24-large()
  margin 0 auto
  max-width 550px

.all-rated__share-link
  display inline
  $add-link-style()
  cursor pointer
  transition 0.3s
  &:hover
    transition 0.3s
    opacity 0.4