.empty-list
  $font18-large()
  display flex
  flex-direction column
  flex 0 1 auto
  justify-content center
  align-items center
  width 100%
  max-width 400px
  box-sizing border-box
  margin 64px auto 0
  color rgba(white, 0.3)
  text-align center

  @media $bp.phone
    padding 0 16px

.empty-list__image
  width 144px
  height 144px
  margin-bottom 8px
