.game__files
  margin 24px 0

  @media $bp.phone
    padding 0 10px

.game__files__file
  display inline
  $font16-medium()

  & + &
    margin-left 8px

.game__files__file__counter
  opacity .4
  margin-left 4px
