.suggestions
  // Пока решено не использовать ширину в 1170px
  // .page__content
  //   @media $bp.desktop
  //     max-width 1170px

  // .games__filter
  //   @media $bp.desktop
  //     width 1170px

  .content > .heading
    margin 0 0 32px

    @media $bp.phone
      margin 0 0 16px
      text-align center
