.game-edit__string-items
  display flex
  flex-wrap wrap
  align-items center

.game-edit__string-items__add-btn
  margin-right 12px
  margin-top 12px

  + .game-edit__string-items__empty-text
    margin-left 24px

.game-edit__string-items__empty-text
  font-size 18px
  line-height 30px
  color alpha(white, 40%)
  display flex
  align-items center
  margin-top 12px

.game-edit__string-items__empty-text-emoji
  font-size 30px
  margin-right 12px
  color white
  img
    width 40px
    heoght 40px

.game-edit__string-items__container
  display flex
  flex-wrap wrap
  align-items center
  margin-top -12px
