.locale-ru
  .page_secondary
    .page__form
      .login__heading
        margin-bottom 0

      .login__subtitle
        margin-top 8px
        margin-bottom 40px

.login__subtitle
  font-size 13px
