.header__browse-menu__dotted-label
  display flex
  align-items center
  height 16px

.header__browse-menu__dotted-label__dot
  height 4px
  width 4px
  background-color white
  border-radius 100%
  margin 0 2px
  &[last]
    margin-right 6px

.header__browse-menu__dotted-label_more
  background: url("~assets/icons/more.svg?external") no-repeat center / contain;
  height 16px
  width 16px
  margin 0 0 -2px 0
