.review-card__your-badge
  $font12-small()
  margin-right 15px
  padding 3px 6px
  color alpha($color-white, 0.8)
  border-radius 4px
  background-color alpha($color-white, 0.1)

  @media $bp.phone
    position absolute
    right 0
