.field-status
  padding-top 20px
  font-size 14px
  display flex
  align-items center

.field-status__icon
  width 18px
  height 18px
  box-sizing border-box
  border-radius 50%
  border 2px solid $success
  display flex
  align-items center
  justify-content center
  color $success
  flex-shrink 0
  font-weight bold
  margin-right 8px

.field-status__text
  display block
  margin-top 1px