.toggle-button-wrapper.theme-switcher__button
  &.enabled
    .toggle-button
      background-image linear-gradient(to bottom, #54a130, #bdf061)

      .toggle-button__inner
        background-color white
