.dropdown
  position relative
  overflow-y hidden

  &.dropdown_opened
    overflow-y visible

.dropdown__button
  display flex
  justify-content space-between
  align-items center
  width 100%

.dropdown__container
  position absolute
  top 0
  left 0
  z-index 15

  display block
  //min-width 100%
  height auto
  box-sizing border-box

  color $color-black

  &.dropdown__container_header-widths
    @media $bp.desktop
      padding 0

    @media $bp.phone
      box-sizing bor
      position fixed
      top auto
      padding 0
      bottom 10px
      right 10px
      left unset !important
      max-height calc(100% - 100px)
      max-width 280px
      width calc(100% - 20px)
      overflow-y scroll

  &.dropdown__container_standard-widths
    @media $bp.desktop
      padding 0

    @media $bp.phone
      position fixed
      top auto
      padding 0
      bottom 10px
      right 10px
      left unset !important
      max-height calc(100% - 100px)
      max-width 280px
      overflow-y scroll

  will-change opacity

  animation-fill-mode forwards
  animation-duration .3s
  animation-iteration-count 1

  &.dropdown__container_opened
    animation-name dropdown-enter

  &.dropdown__container_closing_animation
    animation-name dropdown-leave

  &.dropdown__container_closed
    opacity 0
    pointer-events none

.dropdown__overlay
  position fixed
  top 0
  left 0
  z-index 14

  width 100%
  height 100%
  display block

  content ''

  &.dropdown__overlay_standard-widths.dropdown__overlay_search-suggestions
    @media $bp.phone
      top 70px
      background-color #151515

  &.dropdown__overlay_header-widths
    @media $bp.phone
      background-color alpha($color-black, 0.9)

    @media $bp.desktop
      display none

  &.dropdown__overlay_standard-widths
    @media $bp.phone
      background-color alpha($color-black, 0.9)

    @media $bp.desktop
      display none

  opacity 0
  pointer-events none
  transition opacity .3s
  will-change opacity

  &.dropdown__overlay_opened
    pointer-events auto
    opacity 1

.dropdown__content
  display block
  position relative
  z-index 1

  border-radius 4px
  background-color $color-white
  box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.1)

  .dropdown__container_standard-widths &
    @media $bp.phone
      padding 24px

  .dropdown__container_header-widths &
    @media $bp.desktop
      padding 0 10px 10px

    @media $bp.phone
      padding 24px

.dropdown__container_menu
  padding 0
  min-width 150px

.dropdown__container_fixed
  &.dropdown__container_standard-widths
    @media $bp.desktop
      position fixed
      top 0 !important

  &.dropdown__container_header-widths
    @media $bp.desktop
      position fixed
      top 0 !important

.dropdown__container_filter
  &.dropdown__container_header-widths
    @media $bp.desktop
      margin-top 10px
      margin-left -10px

.dropdown__container_filter
  &.dropdown__container_standard-widths
    .dropdown__content
      @media $bp.desktop
        padding 0

  &.dropdown__container_header-widths
    .dropdown__content
      @media $bp.desktop
        padding 0

.dropdown__container_sharing
  &.dropdown__container_standard-widths
    @media $bp.desktop
      margin-top 58px

  &.dropdown__container_header-widths
    @media $bp.header
      margin-top 58px

@keyframes dropdown-enter
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

@keyframes dropdown-leave
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
