.game__alone-screenshot
  position fixed
  left 0
  top 0
  width 100vw
  height 100vh
  z-index 10
  background alpha(black, 80%)
  overflow auto

.game__alone-screenshot__img
  max-width 100vw
  width 100%
  height auto
  padding-top 100px

.close-button.game__alone-screenshot__close
  position absolute
  right 20px
  top 20px
