.page_error
  padding 50px 0

  .page__content-wrap
    @media $bp.phone
      height 100vh

  h1
    font-size 192px
    font-weight 500
    line-height 1

  .text
    margin 50px 0 100px
    font-size 20px
    font-weight 500

  .page__notifications
    display none

  @media $bp.phone
    text-align center
