.explore-post
  .event-container__body-wrap
    padding 0
  .post-card__footer
    display none

  .post-card__text
    margin-bottom 0

.explore-post__post
  border-radius 8px
  .post-card__top-block
    padding 24px
    background-color alpha(white, 0)
  .post-card__bottom-block
    background none
  // .post-card__title
  //   margin-right 10px
  .post-card__subtitle
    margin-left 0
