.explore-games-events
  .game-card-compact-list
    margin -16px 0

.explore-games-events__game
  &:last-child
    border-bottom none
  &:first-child
    margin-top -8px

.explore-games-events__collection-comments
  padding 16px
  border-top 1px solid alpha($color-white, 0.1)
