.heading.program__description__heading
  @media $bp.desktop
    $font24-large()
    font-weight bold
    margin-top 32px
    margin-bottom 16px

  @media $bp.phone
    $font18-large()
    font-weight bold
    margin-top 32px
    margin-bottom 16px

.program__description__text
  display flex
  flex-wrap wrap
  $font16-medium()
