

.tokens__reward-topline__wrap
  display flex
  justify-content space-between
  padding-bottom 24px
  border-bottom 1px solid alpha($color-white, 0.2)
  align-items baseline
  
  @media $bp.phone
    flex-direction column
    align-items center
    padding-bottom 10px

.tokens__reward-topline__percent
  font-size 16px
  @media $bp.phone
    font-size 14px
    text-align center

.tokens__reward-topline__stats
  font-size 13px
  @media $bp.phone
    font-size 12px
    margin-top 4px
    text-align center
    color alpha($color-white, 0.4)