.profile
  .page__content-wrap
    @media (min-width: 1040px) and (max-width: 1280px)
      max-width 1040px

  .page__content-wrap.with-sidebar .page__content
    @media (min-width: 1280px)
      width 100%
      flex 1 1 auto
      max-width 100%
      display flex
      align-items center

    .profile-content-wrap
      max-width 960px
      width 100%

  .discover__sidebar
    @media (max-width: 1280px)
      display none

.profile__content
  min-height 150vh

.profile__head
  @media $bp.phone
    margin-bottom 16px
  @media $bp.desktop
    margin-bottom 32px

.profile__text
  margin 0 auto
  max-width 400px
  text-align center
  color alpha($color-white, 0.5)

.profile__link
  display flex
  justify-content center
  margin 40px auto 0

.profile__loading
  display flex
  justify-content center
  margin 20px auto 0

  svg
    fill alpha($color-white, 0.1)

.profile__empty-text
  margin 0 auto
  max-width 400px
  text-align center
  color alpha($color-white, 0.5)

  display flex
  flex-direction column
  align-items center

.profile_overview
  padding-bottom 0
