.game-edit__select-items__modal__add-btn
  flex 0 0 auto
  padding 15px 57px
  margin-left 24px
  font-size 16px
  background-color white
  color #1a1a1a
  box-sizing border-box
  border-radius 4px
  cursor pointer

  transition background-color .3s, color .3s

  &[disabled]
    background-color alpha(white, 5%)
    color alpha(white, 20%)
    cursor not-allowed

.game-edit__select-items__modal__items-title
  font-size 16px
  color alpha(white, 40%)
  margin-top 24px
  margin-bottom 12px

.game-edit__select-items__modal__items
  display flex
  flex-wrap wrap
  margin-top -12px
  align-items flex-start
  align-content flex-start
  flex 1 0 auto

.game-edit__select-items__modal__input
  display flex
