.discover-search
  box-sizing border-box
  width 100%

.page.discover-search
  .discover-page__content
    width 100%

.discover-search__content
  box-sizing border-box
  display flex

  @media $bp.desktop
    flex-direction row
    align-items flex-start
    justify-content flex-start

  .discover__sidebar_desktop
    margin-top 0
