{% extends 'mailer/template_en.html' %}

{% block body %}
    <div class="orange-title orange-title-padding-bottom"
         style="padding-bottom: 4px; color: #f1951b; font-size: 18px; font-weight: bold; text-align: left;">
        Hey, {{ user.username }}
    </div>
    <div class="text"
         style="color: white !important; font-size: 24px; line-height: 28px; font-weight: normal; text-align: left;">
        We compiled a list of games that look like your cup of tea. You might as well be interested in some games trending in our community.
        Check them out below and don't forget to wishlist some.
    </div>
{% endblock %}

{% block button_url %}{{ protocol }}://{{ current_site }}/{% endblock %}

{% block post_body %}
    <div class="text"
         style="color: white !important; font-size: 24px; line-height: 28px; font-weight: normal; text-align: left;">
        Don't forget to rate games on AG frequently for more personalized recommendations.
    </div>
{% endblock %}

{% block button %}View all games{% endblock %}

{% block unsubscribe_link %}{{ protocol }}://{{ current_site }}/settings/notifications?user_id={{ user.id }}&slug={{ mail_slug }}&hash={{ user.security_hash }}&email={{ user.email }}{% endblock %}
