.game-card__about-text
  font-size 16px
  line-height 22px

  p + p
    margin-top 16px

  h1, h2, h3, h4, h5, h6
    font-size 18px
    line-height 22px
    font-weight 700
    margin-top 16px

  @media $bp.phone
    line-height 20px
    font-size 14px
