.rate-landing-heading
  display flex
  flex 0 1 auto
  flex-direction column
  align-items center

  @media $bp.phone
    width 100%
    max-width 380px
    margin 24px auto

.rate-landing-heading__heading
  width 964px
  height auto

  img
    width 100%

  @media $bp.phone
    width 100%

.rate-landing-heading__subheading
  width 574px
  height auto
  margin-bottom 32px

  @media $bp.phone
    width 96%
    margin-bottom 20px
