.one-game-event
  position static

.one-game-event__description
  margin-top 16px
  padding-top 21px
  font-size 14px
  line-height 1.43
  border-top 1px solid alpha($color-white, 0.1)

  @media $bp.phone
    padding-top 16px
    margin-top 4px
