.game-subpage__imgur-item
  width 200px
  height 112px
  border-radius 6px
  background alpha($color-white, 0.05) no-repeat center / cover
  cursor pointer

  @media $bp.phone
    width 146px
    height 82px

.game-subpage__imgur-icon
  width 90px
  height 32px
  padding-bottom 12px
  padding-left 22px
  position relative
  top 14px

  @media $bp.phone
    width 45px
    height 16px
    padding-bottom 9px
    padding-left 10px
    top 10px
