.tabs.search-tabs > ul
  margin-top 24px
  margin-bottom 24px
  display flex
  justify-content flex-start
  overflow-x auto
  @media $bp.phone
    margin-top -16px
    margin-bottom 16px
    margin-left 0
    margin-right 0
    justify-content center

.search-tabs__tab
  .tab__name
    font-size 24px
    @media $bp.phone
      font-size 20px
