.offer-button
  display flex
  height 32px
  align-self center
  // margin-left 16px
  background-image: linear-gradient(to bottom, #b4ec51, #429321);
  color $color-white
  font-size 16px
  min-width inherit
  padding 0 16px

  .SVGInline
    margin-right 6px
    @media $bp.phone
      margin-right 5px

.offer-button_medium
  font-size 32px
  height 58px
  padding 0 32px
  border-radius 10px

  .SVGInline
    margin-right 8px
    margin-top 2px

  .SVGInline-svg
    width 32px
    height 32px
  
  @media $bp.phone
    font-size 16px
    height 44px
    padding 0 24px
    border-radius 6px
    align-items center

    .SVGInline-svg
      width 22px
      height 22px