.discover-main
  .discover-page__content
    .heading.heading_2:first-child
      margin-top 16px

.discover-main__whole-loading
  margin-top 60px

.discover-main__heading-with-subtitle
  margin-top 8px
  .heading
    margin-top 4px

.discover-main__heading-with-subtitle__subtitle
  font-size 16px
