.game-subpage__youtube-icon
  width 128px
  height 28px
  padding-left 22px
  padding-bottom 10px
  position relative
  top 4px

  @media $bp.phone
    width 64px
    height 14px
    padding-left 10px
    top 10px
